{% extends "base.html" %}
{% block title %} - Login{% endblock %}

{% block body %}
    <h1>Sign In</h1>
    <form method="post" novalidate>
        {{ form.hidden_tag() }}
        <p class="mt-5">
            {{ form.username.label(class_="form-label") }}
            {{ form.username(class_="form-control") }}
        </p>
        <p>
            {{ form.password.label(class_="form-label") }}
            {{ form.password(class_="form-control") }}
        </p>
        <p class="form-check mb-3">
            {{ form.remember_me(class_="form-check-control") }}
            {{ form.remember_me.label(class_="form-check-label") }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
{% endblock body %}