{% extends "base.html" %}
{% import "bootstrap_wtf.html" as wtf %}

{% block content %}
    <div class="row">
        <div class="{{ 'col-md-3' if title != 'Explore' else '' }}">
            <h1>Hello, {{ current_user.username }}!</h1>
            {% if form %}
                {{ wtf.quick_form(form) }}
            {% endif %}
        </div>

        <div class="{{ 'col' if title != 'Explore' else 'mt-3' }}">
            <h2>{{ 'Your feed' if title != 'Explore' else 'Explore' }}</h2>
            <div>
                {% for post in posts %}
                    <hr>
                    {% include '_post.html' %}
                {% endfor %}
            </div>

            {% include '_post_pagination.html' %}
        </div>
    </div>
{% endblock %}