<div class="mb-3 card post-card">
    <div class="card-title mb-3">
        <span><img src="{{ post.author.avatar(48) }}"></span>
        <span class="card-named-title">
            <span class="fw-bold card-author">{{ post.author.username }}</span>
        </span>
    </div>
    <div class="card-description">
        {{ post.body }}
    </div>
    <div class="card-post-details">
        {% if current_user.id == post.author.id %}
            <a class="text-success" href="{{ url_for('edit_post', id=post.id) }}">Edit post</a>
            <a class="text-danger" href="{{ url_for('delete_post', id=post.id) }}">Delete post</a><br>
        {% endif %}
        <span class="text-secondary">
            <span>{{ moment(post.timestamp).format('LLL') }}</span>
            {% if post.edit_timestamp %}
                <div>Edited at: {{ moment(post.edit_timestamp).format('LLL') }}</div>
            {% endif %}
        </span>
    </div>
</div>